{% load static %}
{% load humanize %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환율 계산기</title>
    <link rel="stylesheet" href="{% static 'css/style_change_money.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<header>
    <div class="header_logo">
        <img src="{% static 'css/ccc_logo.jpg' %}" alt="logo" />
    </div>
      <nav>
        <ul>
            <li><a href="/checkwinner">순위</a></li>
            <li><a href="/change_money">환전</a></li>
            <li><a href="javascript:void(0);">입출금</a></li>
          
        </ul>
      </nav>
</header>
<body>
    <div class="wrapper">
          <h1>
              입출금   
          </h1>
          <form method = "post" >
            {% csrf_token %}
            <div class="input-box">
            <input type="text" name="username" placeholder="studentID">
            <i class='bx bxs-user'></i>
            </div>
            <div class="drop-container"> 
                
                <div class="input-box">
                    <input type="number" name="Amount" placeholder="Amount">
                    <i class='bx bxs-user'></i>
                </div>
                
            </div>
            {% if cell_possible %}
                <h3>계산서</h3>
                <p>{{amount|intcomma}}원 출금</p>
                <p>잔액 : {{update|intcomma}}원</p>
            {% else %}
            {% endif %}

            {% if cell_impossible %}
                <p>출금 가능액 OVER</p>
            {% else %}
                
            {% endif %}

            {% if buy_possible %}
                <h3>계산서</h3>
                <p>{{amount|intcomma}}원 입금</p>
                <p>잔액 : {{update|intcomma}}원</p>
            {% else %}
            {% endif %}
            
            <div class="button-container">
                    <button type="submit" name="input" class="btn">입금</button>
                    <button type="submit" name="output" class="btn">출금</button>
                
            </div>
            
        </form>
            
          
    </div>
    
</body>
</html>

