{% load static %}
{% load humanize %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환전 페이지</title>
    <link rel="stylesheet" href="{% static 'css/style_change_money.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<header>
    <div class="header_logo">
        <img src="{% static 'css/ccc_logo.jpg' %}" alt="logo" />
    </div>
      <nav>
        <ul>
            
            {% if is_manger %}
            <li><a href="/checkwinner">순위</a></li>
            <li><a href="javascript:void(0);" onclick="window.location.reload();">환전</a></li>
            <li><a href="/account">입출금</a></li>
            {% else %}
            <li><a href="/{{user.pk}}/">통장</a></li>
            <li><a href="/exchange">환율</a></li>
            <li><a href="javascript:void(0);" onclick="window.location.reload();">환전</a></li>
            <li><a href="/enter">참가</a></li>
            {% endif %}
            
            
          
        </ul>
      </nav>
</header>
<body>
    <div class="wrapper">
          <h1>
              환전         
          </h1>
          <form method = "post" >
            {% csrf_token %}
            {% if is_manger %}
                <div class="input-box">
                <input type="text" name="username" placeholder="studentID">
                <i class='bx bxs-user'></i>
                </div>
            {% else %}
                <p>보유원화 : {{user_won}} 원</p>
            {% endif %}
            <div class="drop-container"> 
                <select class="dropmenu" name="currency" id="currency" onchange="updatePlaceholder()">
                    <option value="USD" selected>USD</option>
                    <option value="PHP">PHP</option>
                    <option value="JPY">JPY</option>
                </select>
                <div class="input-box">
                    <input type="number" name="input" id="inputBox" placeholder="{{user_dol}}$ 판매가능">
                    <i class='bx bxs-user'></i>
                </div>
                
            </div>
            {% if show_limit %}
                <p>환전가능 최대금액 : {{limit|intcomma}}</p>
            {% else %}
            {% endif %}
            {% if is_cell_possible %}
                <h3>계산서</h3>
                <p>{{input|intcomma}} 판매 완료 : {{get_won|intcomma}} 원 입금</p>
            {% else %}
            {% endif %}

            {% if is_buy_possible %}
                <h3>계산서</h3>
                <p>{{input|intcomma}} 구매 완료 : {{use_money|intcomma}} 원 출금</p>
                
            {% else %}
            {% endif %}

            <div class="button-container">
                <button type="submit" name="buy" class="btn">구매</button>
                <button type="submit" name="cell" class="btn">판매</button>
            </div>
            
        </form>
            
          
    </div>
    
</body>
</html>


<script>
    function updatePlaceholder() {
        const selectedCurrency = document.getElementById("currency").value;
        
        const inputBox = document.getElementById("inputBox");
        
        if (selectedCurrency === "USD") {
            inputBox.placeholder = "{{user_dol}}$ 판매가능";
        } 
        if (selectedCurrency === "JPY") {
            inputBox.placeholder = "{{user_yen}}¥ 판매가능";
        } 
        if (selectedCurrency === "PHP") {
            inputBox.placeholder = "{{user_php}}₱ 판매가능";
        } 

    }


</script>