{% load static %}
{% load humanize %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환전 페이지</title>
    <link rel="stylesheet" href="{% static 'css/style_change_money.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<header>
    <div class="header_logo">
        <img src="{% static 'css/ccc_logo.jpg' %}" alt="logo" /><span>창융PAY</span>
    </div>
      <nav>
        <ul>
            <li><a href="/change_calculate">계산기</a></li>
          <li><a href="javascript:void(0);" onclick="window.location.reload();">환전</a></li>
          <li><a href="/exchange">입출금</a></li>
          <li>
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" >
                    로그아웃
                </button>
            </form>
        </li>
        </ul>
      </nav>
</header>
<body>
    <div class="wrapper">
          <h1>
              환전         
          </h1>
          <form method = "post" >
            {% csrf_token %}
            <div class="input-box">
            <input type="text" name="username" placeholder="studentID">
            <i class='bx bxs-user'></i>
            </div>
            <div class="drop-container"> 
                <select class="dropmenu" name="currency" id="currency">
                    <option value="USD" selected>USD</option>
                    <option value="PHP">PHP</option>
                    <option value="JPY">JPY</option>
                </select>
                <div class="input-box">
                    <input type="number" name="input" placeholder="input">
                    <i class='bx bxs-user'></i>
                </div>
                
            </div>
            {% if is_cell_possible %}
                <h3>계산서</h3>
                <p>{{input|intcomma}} 판매: {{get_won|intcomma}} 원 (수수료 포함)</p>
                <p>환전 수수료  : {{charge|intcomma}} 원</p>
            {% else %}
            {% endif %}

            {% if is_buy_possible %}
                <h3>계산서</h3>
                <p>{{input|intcomma}} 구매: {{use_money|intcomma}} 원 (수수료 포함)</p>
                <p>환전수수료  : {{charge|intcomma}} 원</p>
            {% else %}
            {% endif %}
            
            

            <div class="button-container">
                    <button type="submit" name="buy" class="btn">구매</button>
                    <button type="submit" name="cell" class="btn">판매</button>
                
            </div>
            
        </form>
            
          
    </div>
    
</body>
</html>
