{% load static %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환율 계산기</title>
    <link rel="stylesheet" href="{% static 'css/style_change_money.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<header>
    <div class="header_logo">
        <img src="{% static 'css/ccc_logo.jpg' %}" alt="logo" /><span>창융PAY</span>
    </div>
      <nav>
        <ul>
            
          <li><a href="javascript:void(0);" onclick="window.location.reload();">계산기</a></li>
          <li><a href="/change_money">환전</a></li>
          <li><a href="/exchange">입출금</a></li>
          <li><a href="/">홈</a></li>
        </ul>
      </nav>
</header>
<body>
    <div class="wrapper">
          <h1>
              환율 계산기    
          </h1>
          <form method = "post" >
            {% csrf_token %}
            <div class="input-box">
            <input type="text" name="username" placeholder="studentID">
            <i class='bx bxs-user'></i>
            </div>
            <div class="drop-container"> 
                <select class="dropmenu" name="currency" id="currency">
                    <option value="USD" selected>USD</option>
                    <option value="KRW">PHP</option>
                    <option value="JPY">JPY</option>
                </select>
                <div class="input-box">
                    <input type="number" name="input" placeholder="input">
                    <i class='bx bxs-user'></i>
                </div>
                
            </div>
            {% if cell_possible %}
                <h3>계산서</h3>
                <p>{{input}} -> {{change}} 원</p>
                <p>수수료 : {{charge}} 원</p>
                <p>수령액 : {{real_change}} 원</p>
            {% else %}
            {% endif %}

            {% if not_cell_possible %}
                <h3>환전 불가</h3> 
                <p>{{input}}</p>
            {% else %}
            {% endif %}

            {% if show_limit %}
                <h2>환전 가능 금액</h2>
                <p>최대 {{limit}} {{currency}} 환전 가능</p><br>
            {% else %}
            {% endif %}
            {% if is_buy_possible %}
                <h3>계산서</h3>
                <p>{{input}} 구매: {{use_money}} 원 (수수료 포함)</p>
                <p>환전수수료  : {{charge}} 원</p>
            {% else %}
            {% endif %}
            
            

            <div class="button-container">
                    <button type="submit" name="buy" class="btn">BUY 계산</button>
                    <button type="submit" name="cell" class="btn">CELL 계산</button>
                
            </div>
            
        </form>
            
          
    </div>
    
</body>
</html>
