{% load static %}
{% load humanize %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영수증</title>
    <link rel="stylesheet" href="{% static 'css/style_change_money.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<header>
    <div class="header_logo">
        <img src="{% static 'css/ccc_logo.jpg' %}" alt="logo" />
    </div>
      <nav>
        <ul>
            
            <li><a href="/checkwinner">순위</a></li>
            <li><a href="/change_money">환전</a></li>
            <li><a href="/account">입출금</a></li>
            
            
          
        </ul>
      </nav>
</header>
<body>
    <div class="wrapper">
          <h1>
              실행결과      
          </h1>
          <br>
        <p style="text-align: center;">
            이 페이지를 나가면 다시 돌아올 수 없습니다.
        </p>
          <br>
          <br>
          <p>시간 : {{current_time}}</p>
          <p>내용 : {{txt1}}</p>
          <p>{{txt2}}</p>

          
            
          
    </div>
    
</body>
</html>


