{% load static %}
{% load humanize %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환전 페이지</title>
    <link rel="stylesheet" href="{% static 'css/style_change_money.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<header>
    <div class="header_logo">
        <img src="{% static 'css/ccc_logo.jpg' %}" alt="logo" />
    </div>
      <nav>
        <ul>
            
            {% if is_manger %}
            {% else %}
            <li><a href="/{{user.pk}}/">통장</a></li>
            <li><a href="/exchange">환율</a></li>
            <li><a href="/change_money">환전</a></li>
            <li><a href="/enter">참가</a></li>
            {% endif %}
            
            
          
        </ul>
      </nav>
</header>
<body>
    <div class="wrapper">
          
          <h1>
            매점 결제       
            </h1>
          
          <form method = "post" >
            {% csrf_token %}
            
            <div class="drop-container"> 
                <div class="input-box">
                    <input type="number" name="input" id="inputBox" placeholder="결제금액 입력">
                    <i class='bx bxs-user'></i>
                </div>
                
            </div>
           

            <div class="button-container">
                <button type="submit" name="buy" class="btn">결제</button>
            </div>
            
        </form>
            
          
    </div>
    
</body>
</html>
