{% load static %}
{% load humanize %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}님의 잔고</title>
    <link rel="stylesheet" href="{% static 'css/style_user_main.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<header>
    <div class="header_logo">
        <img src="{% static 'css/ccc_logo.jpg' %}" alt="logo" />
    </div>
      <nav>
        <ul>
          {% if not member.is_manger %}
          <li><a href="javascript:void(0);" onclick="window.location.reload();">통장</a></li>
          <li><a href="/exchange">환율</a></li>
          <li><a href="/">홈</a></li>
          {% endif %}
        </ul>
      </nav>
</header>
<body>
    <div class="wrapper">
        {% if not member.is_manger %}
          <h1>
              한국은행         
          </h1>
          <h2>
              {{user.username}}님 통장입니다
          </h2>
          <table>
              <tr>
                <th>통화</th>
                <th>금액</th>
              </tr>
              <tr>
                <td>원화</td>
                <td>{{bankbook_ifo.balance_won|intcomma}} ₩</td>
              </tr>
              <tr>
                <td>달러</td>
                <td>{{bankbook_ifo.balance_dol|intcomma}} $</td>
              </tr>
              <tr>
                <td>엔화</td>
                <td>{{bankbook_ifo.balance_yen|intcomma}} ¥</td>
              </tr>
              <tr>
                <td>페소</td>
                <td>{{bankbook_ifo.balance_pes|intcomma}} ₱</td>
              </tr>
              
            </table>
            <div class="button-container">
              <button onclick="location.reload();">조회하기</button>
            </div>
        {% else %}
          <h1>
            {{user.username}}님은 관리자입니다.       
          </h1>
          <div class="button-container">
            <button onclick="location.href='/change_calculate';">계산기</button>
            <button onclick="location.href='/change_money';">환전</button>
            <button onclick="location.href='/change_money';">입/출금</button>
            
          </div>
        {% endif %}
    </div>
    
</body>
</html>
